{% extends 'base.html' %}
{% block content %}
<div class="card mb-3" style="max-width: 20rem;">
    {% for pet in pets %}
    <h3 class="card-header">{{pet.name}}</h3>
  
    {% if photo_url%}
    <img style="height: 200px; width: 100%; display: block;" src="{{pet.photo_url}}" alt="Card image">
    {% else%}
    <img style="height: 200px; width: 100%; display: block;" src="{{defaultimg}}" alt="Card image">
    {% endif%}
    <div class="card-body">
     {% if pet.available %}
      <p class="card-text">Available</p>
      {%endif%}
    </div>
    {% endfor%}
  </div>

{% endblock %}



<!-- <a href="{{url_for('display_edit' , pet_id = pet.id)}}">Edit</a> -->
