{% extends 'base.html' %}
{% block content %}
<div class="card-deck" >
    {% for pet in pets %}
  <div class="card mb-3" style="max-width: 20rem;">
    
    <h3 class="card-header">{{pet.name}}</h3>
    <a href="{{url_for('display_edit' , pet_id = pet.id)}}">Edit</a>
    {% if pet.photo_url%}
    <img style="height: 200px; width: 100%; display: block;" src="{{ pet.photo_url }}" alt="Card image">
    {% else%}
    <img style="height: 200px; width: 100%; display: block;" src="{{ defaultimg }}" alt="Card image">
    {% endif%}
    <div class="card-body">
     {% if pet.available %}
      <p class="card-text">Available</p>
      {%endif%}
    </div>
    
  </div>
  {% endfor%}
</div>
<div>
  <div class="card mb-3" style="max-width: 20rem;">
    <h3 class="card-header">{{pet_info.name}}</h3>
    <img style="height: 200px; width: 100%; display: block;" src="{{ pet_info.photo_url }}" alt="Card image">
    <div class="card-body">
      <p class="card-text">Age: {{ pet_info.age}}</p>
    </div>
  </div>
</div>
{% endblock %}




